/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'),
         url('../fonts/lato-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-700 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'),
         url('../fonts/lato-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* lato-900 - latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local('Lato Black'), local('Lato-Black'),
         url('../fonts/lato-v15-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/lato-v15-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

  /* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'),
         url('../fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-500 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: local('Roboto Medium'), local('Roboto-Medium'),
         url('../fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  /* roboto-700 - latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'), local('Roboto-Bold'),
         url('../fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('../fonts/roboto-v20-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

 body{
     font-family: 'Lato';
     background-color: #F4F7FF;
 } 

.container{
    max-width: 1110px;
    margin: 0 auto;
    padding: 0 10,4%;
}

.button{
    margin: 4px 4px 4px 4px;
    width: 279px;
    height: 61px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.01em;
    color: white;
    background-color: #3179FF;
    border: 4px solid #CFE0FF;

    &:hover{
        background-color: #2b63cc;
    }
}

.reasons {
  padding-bottom: 67px;
  @media screen and (max-width:1200px) {
    text-align: center;
  }

  &-wrapper {
      padding: 20px;
      background-color:white;
      border: 0.9px solid #ECF3FF;
      border-radius: 9px;
    }

  &__title {
    padding: 56px 15px;
    font-weight: 300;
    font-size: 36px;
    text-align: center;
    letter-spacing: -0.01em;
    margin-bottom: 0;

    &-wrapper {
      background-color: #F8FAFF;
      border: 0.9px solid #ECF3FF;
      border-radius: 9px;
      margin-bottom: 20px;
    }

    & span {
      font-weight: 700;
      color: #3179FF;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 150%;
    margin: 0 auto;
    text-align: center;
    color: #010101;
    margin-bottom: 90px;
    max-width: 850px;
    font-weight: normal;

    @media screen and (max-width:1200px) {
      max-width: 80%;
      margin-bottom: 50px;
    }

  }

  &__button {
    margin: 0 auto;
    min-width: 287px!important;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    @media screen and (max-width:600px) {
      width:100%!important;
      min-width: 120px!important;
    }
  }

  &__items {
    display: flex;
    padding: 0 80px 63px;
    @media screen and (max-width:1200px) {
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      padding-bottom: 50px;
    }
    @media screen and (max-width:600px) {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__item {

    &--outer {
      flex-basis: 25%;
      padding: 10px;
      background: #FFFFFF;
      border: 0.9px solid #ECF3FF;
      box-shadow: 0px 2px 8px #F1F6FF;
      border-radius: 9px;

      margin-right: 30px;

      &:last-of-type {
        margin-right: 0;
      }

      @media screen and (max-width:1200px) {
        margin-bottom: 50px;
        margin-right: 0;
        max-width: 400px;
        width: 100%;

        &:last-of-type {
          margin-bottom: 0;
        }
      }
      @media screen and (max-width:600px) {
        flex-basis: 100%;
      }
    }

    &--inner {
      position: relative;
    }

    &_icon {
      position: absolute;
      top:-35px;
      left: 50%;
      margin-left: -50px;

      &-2 {
        margin-left: -40px;
      }
      &-3 {
        margin-left: -75px;
      }

      &-wrapper {
        background: #F8FAFF;
        border: 0.9px solid #ECF3FF;
        border-radius: 9px;
        min-height: 65px;
      }
    }

    &_info {
      min-height: 128px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 0 30px;

      font-weight: normal;
      font-size: 18px;
      line-height: 130%;
      color: #010101;

      &-3 {
        padding: 0 15px;
      }
    }
  }
}

.mobile {
    margin-bottom: 60px;
  
    &__content {
  
      &-outer {
        padding: 18px;
        background: #FFFFFF;
        border: 0.9px solid #ECF3FF;
        box-sizing: border-box;
        box-shadow: 0px 2px 8px #F1F6FF;
        border-radius: 9px;
      }
  
      &-inner {
        padding-left: 50px;
        padding-right: 80px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background: #F8FAFF;
        border: 0.9px solid #ECF3FF;
        box-sizing: border-box;
        border-radius: 9px;
  
        @media screen and (max-width:990px)  {
          flex-direction: column-reverse;
          align-items: center;
          justify-content: center;
          padding: 30px 15px 0;
          text-align: center;
        }
      }
    }
  
    &__image {
      width: 100%;
  
      &-wrapper {
        max-width: 600px;
        width: 100%;
      }
    }
  
    &__text {
      margin-bottom: 20px;
      font-weight: normal;
      font-size: 14px;
      line-height: 150%;
      
      &-wrapper {
        padding-bottom: 36px;
        max-width: 270px;
        width: 100%;
  
        
        @media screen and (max-width:990px)  {
          margin: 0 auto;
        }

        @media screen and (max-width:600px)  {
          
          button{
            margin-top: 30px;
            width: 150px;
          }
        }
      }
    }
  
    &__title {
      font-size: 32px;
      margin-bottom: 15px;
      & span {
        font-weight: 700;
      }
  
      @media screen and (max-width:600px) {
        font-size: 28px;
      }
    }
  
    &__info {
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
  
      @media screen and (max-width:990px)  {
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      &__item {
        padding: 10px 15px;
        display: flex;
        align-items: center;
        background: #fff;
        font-weight: 400;
  
        &:first-of-type {
          margin-right: 13px;
  
          @media screen and (max-width:990px)  {
            margin-right: 0;
            margin-bottom: 15px;
          }
        }
  
        &-icon {
          margin-right: 15px;
        }
  
        &-text {
  
          @media screen and (max-width:600px)  {
            font-size: 12px;
          }
        }
      }
    }

    &__button {
      max-width: 100% !important;
      width: 100%;
    }
  }



  .trading {
    padding-bottom: 67px;
    @media screen and (max-width:1200px) {
      text-align: center;
    }
  
    &-wrapper {
        padding: 20px 0px;
      }

    &__separator{
        flex-basis: 55%;
        height: 3px;
        background-color: #FFFFFF;

        @media screen and (max-width:990px) {
            display: none;
          }
    }

    &__title {
      padding: 56px 0;
      font-weight: 300;
      font-size: 36px;
      text-align: left;
      line-height: 110%;
      color: #17191C;
      margin-bottom: 0;
      flex-basis: 45%;
  
      &-wrapper {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      & span {
        font-weight: 700;
        color: #3179FF;
      }
      @media screen and (max-width:990px) {
        text-align: center;
        flex-basis: 100%;
      }
    }
  
    &__text {
      font-size: 20px;
      line-height: 150%;
      margin: 0 auto;
      text-align: center;
      color: #010101;
      margin-bottom: 90px;
      max-width: 850px;
      font-weight: normal;
  
      @media screen and (max-width:1200px) {
        max-width: 80%;
        margin-bottom: 50px;
      }
  
    }
  
    &__button {
      margin: 0 auto;
      min-width: 287px!important;
      margin-bottom: 40px;
      display: flex;
      
      @media screen and (max-width:990px) {
        width:100%!important;
        min-width: 120px!important;
        justify-content: center;
      }
    }
  
    &__items {
      display: flex;
      padding: 20px 0 63px;
      @media screen and (max-width:1200px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
      }
      @media screen and (max-width:600px) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  
    &__item {
  
      &--outer {
        flex-basis: 25%;
        padding: 10px;
        background: #FFFFFF;
        border: 0.9px solid #ECF3FF;
        box-shadow: 0px 2px 8px #F1F6FF;
        border-radius: 9px;
  
        margin-right: 30px;
  
        &:last-of-type {
          margin-right: 0;
        }
  
        @media screen and (max-width:1200px) {
          margin-bottom: 50px;
          margin-right: 0;
          max-width: 400px;
          width: 100%;
  
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        @media screen and (max-width:600px) {
          flex-basis: 100%;
        }
      }
  
      &--inner {
        position: relative;
      }
  
      &_title{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding-top: 20px;

        font-weight: 700;
        font-size: 22px;
        line-height: 110%;
        color: #17191C;
      }

      &_icon {
        position: absolute;
        top:-45px;
        left: 55%;
        margin-left: -50px;
  
        &-wrapper {
          background: #F8FAFF;
          border: 0.9px solid #ECF3FF;
          border-radius: 9px;
          min-height: 65px;
        }
      }
  
      &_info {
        min-height: 194px;
        display: flex;
        justify-content: center;
        text-align: center;
        padding: 20px 15px;
  
        font-weight: normal;
        font-size: 18px;
        line-height: 130%;
        color: #010101;
      }
    }
  }


  .autocopy {
    padding-bottom: 67px;
    @media screen and (max-width:1200px) {
      text-align: center;
    }
  
    &-wrapper {
        padding: 10px 0px;
      }

    &__separator{
        flex-basis: 20%;
        height: 3px;
        background-color: #FFFFFF;

        @media screen and (max-width:990px) {
            display: none;
          }
    }

    &__title {
      padding-bottom: 30px;
      font-weight: 300;
      font-size: 36px;
      text-align: left;
      line-height: 110%;
      color: #17191C;
      margin-bottom: 0;
      flex-basis: 80%;
  
      &-wrapper {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      & span {
        font-weight: 700;
        color: #3179FF;
        white-space: nowrap;
      }
      @media screen and (max-width:990px) {
        text-align: center;
        flex-basis: 100%;
      }
    }
  
    &__text {
      font-size: 20px;
      line-height: 150%;
      margin: 0 auto;
      text-align: center;
      color: #010101;
      margin-bottom: 90px;
      max-width: 850px;
      font-weight: normal;
  
      @media screen and (max-width:1200px) {
        max-width: 80%;
        margin-bottom: 50px;
      }
  
    }
  
    &__button {
      min-width: 287px!important;
      display: flex;
      flex-basis: 25%;
      
      &-wrapper {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-separator{
        flex-basis: 65%;
        height: 3px;
        background-color: #FFFFFF;

        @media screen and (max-width:990px) {
            display: none;
          }
      }

      @media screen and (max-width:990px) {
        margin: 0 auto;
        flex-basis: 100%;
        width:100%!important;
        min-width: 120px!important;
        justify-content: center;
      }
    }
  
    &__items {
      display: flex;
      padding: 20px 0 63px;
      @media screen and (max-width:1200px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
      }
      @media screen and (max-width:600px) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  
    &__item {
      
      &_button{
        margin-top: 65px;
        margin-bottom: 85px;
        padding: 15px 40px;
        font-weight: 300;
        font-size: 20px;
        line-height: 120%;
        color: white;
        background: #1B7DFF;
        border: 0;

        &:hover{
          background: #0e66da;
        }

        &-ico{
          margin-right: 15px;
        }
      }

      &_num{

        &-wrapper{
          margin-bottom: 18px;
        }
      }

      &--outer {
        flex-basis: 33%;
        padding: 19px;
        background: #FFFFFF;
        border: 0.9px solid #ECF3FF;
        box-shadow: 0px 2px 8px #F1F6FF;
        border-radius: 9px;
        min-width: 300px;
        margin-right: 30px;
  
        &:last-of-type {
          margin-right: 0;
        }
  
        @media screen and (max-width:1200px) {
          margin-bottom: 50px;
          margin-right: 0;
          max-width: 400px;
          width: 100%;
  
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        @media screen and (max-width:600px) {
          flex-basis: 100%;
        }
      }
  
      &--inner {
        position: relative;
        background: #F8FAFF;
        border: 0.9px solid #ECF3FF;
        border-radius: 9px;
        min-height: 65px;
        padding-left: 27px;
        padding-top: 38px;
        padding-right: 24px;
      }
  
      &_title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        margin-bottom: 19px;

        font-weight: 700;
        font-size: 22px;
        line-height: 110%;
        color: #17191C;
      }

      &_icon {
        position: absolute;
        top:-50px;
        left: 80%;
        margin-left: -30px;

        &-2{
          position: absolute;
          top:-50px;
          left: 85%;
          margin-left: -30px;
        }

        &-3{
          position: absolute;
          top:-50px;
          left: 85%;
          margin-left: -30px;
        }
      }
  
      &_info {
        min-height: 130px;
        display: flex;
        justify-content: center;
        text-align: left;
  
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 140%;

      }

      &_pic{
        display: flex;
        justify-content: center;
        margin-left: -10%;
        margin-top: -20%;
        margin-bottom: -10%;
      }
    }
  }



  .funding {
    @media screen and (max-width:600px) {
      display: none;
    }

    padding-bottom: 67px;
    @media screen and (max-width:1200px) {
      text-align: center;
    }
  
    &-wrapper {
        padding: 10px 0px;
      }

    &__image{
      border-radius: 9px;
    }

    &__separator{
        flex-basis: 55%;
        height: 3px;
        background-color: #FFFFFF;

        @media screen and (max-width:990px) {
            display: none;
          }
    }

    &__title {
      padding: 30px 0;
      font-weight: 300;
      font-size: 36px;
      text-align: left;
      line-height: 110%;
      color: #17191C;
      margin-bottom: 0;
      flex-basis: 45%;
  
      &-wrapper {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
  
      & span {
        font-weight: 700;
        color: #3179FF;
        white-space: nowrap;
      }
      @media screen and (max-width:990px) {
        text-align: center;
        flex-basis: 100%;
      }
    } 
  
  }


  .statistics {
    padding-bottom: 50px;
    @media screen and (max-width:1200px) {
      text-align: center;
    }
  
    &-wrapper {
        padding: 20px 0px;
      }

    &__items {
      display: flex;
      padding: 20px 0 63px;
      @media screen and (max-width:1200px) {
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding-bottom: 50px;
      }
      @media screen and (max-width:600px) {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
  
    &__item {
  
      &--outer {
        flex-basis: 25%;
        padding: 10px;
        background: #FFFFFF;
        border: 0.9px solid #ECF3FF;
        box-shadow: 0px 2px 8px #F1F6FF;
        border-radius: 9px;
        margin-right: 30px;
  
        &:last-of-type {
          margin-right: 0;
        }
  
        @media screen and (max-width:1200px) {
          margin-bottom: 50px;
          margin-right: 0;
          max-width: 400px;
          width: 100%;
  
          &:last-of-type {
            margin-bottom: 0;
          }
        }
        @media screen and (max-width:990px) {
          flex-basis: 100%;
          max-width: 250px;
          margin-bottom: 10px;
        }
      }
  
      &--inner {
        background: #F8FAFF;
        border: 0.9px solid #ECF3FF;
        border-radius: 9px;
        padding-left: 35px;
        padding-bottom: 19px;
        padding-top: 14px;
      }
  
      &_title{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
        font-weight: 800;
        font-size: 54px;
        line-height: 65px;
        color: #3179FF;
        @media screen and (max-width:600px) {
          font-size: 44px;
        }
      }

      &_icon {
        padding-left: 10px;
        display: flex;
        justify-content: flex-start;
        text-align: left;
      }
  
      &_info {
        padding-top: 10px;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        font-weight: 300;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        @media screen and (max-width:600px) {
          padding-top: 5px;
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }


  .help{
    margin-bottom: 58px;

    &-btn{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 4px;
      width: 100%;
      height: 70px;
      align-items: center;
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      letter-spacing: -0.01em;
      color: white;
      background-color: #3179FF;
      border: none;

      &:hover{
        background: #0e66da;
      }
    }

    &__text{
      flex-basis: 50%;
      text-align: left;
      span{
        font-weight: 700;
      }
      @media screen and (max-width: 768px) {
        flex-basis: 100%;
        text-align: center;
      }
    }

    &__pic{
      flex-basis: 40%;
      text-align: right;
      @media screen and (max-width: 768px) {
        display: none;
      }
    }

    &__arrow{
      flex-basis: 10%;
      height: 100%;
      margin-right: 23px;
      background-color: #1F6BF7;

      &-ico{
        margin-top: 25%;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
  



.footer{
  &__item{
    display: flex;
        flex-wrap: wrap;
    margin-bottom: 36px;
  }

  &__nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  &__menu{
    padding-left: 0;
    width: 20%;
    list-style-type: none;

    @media screen and (max-width: 768px) {
          width: 40%;
          margin-bottom: 24px;
    }

    &-title{
      color: black;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 24px;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 36px;
    }

    &-link{
      text-decoration: none;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000000;

      &-pic{
        text-decoration: none;
        margin-right: 12.5px;
      }

      &:hover{
        opacity: .75;
      }
    }
  }

  &__desc{
    display: flex;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 12px;
    line-height: 150.84%;
    text-align: justify;
    
    p{
      margin-bottom: 36px;
    }

    &-title{
      text-transform: uppercase;
      margin-bottom: 36px;
    }
  }

  &__stat{
    color: black;
  }
}


.control{
  margin-bottom: 90px;

  &-wrapper{
    background: url(../img/digital_bg.png) no-repeat;
    display: flex;
    height: 225px;
    max-width: 1407px;
    margin: 0 auto;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
   
    @media screen and (max-width: 600px) {
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-left: 10%;
        padding-right: 10%;
    }
  }

  &__text{
    flex-basis: 45%;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 120%;
    align-items: center;
    color: #FFFFFF;
    padding-left: 10%;

    span{
      font-weight: 700;
    }

    @media screen and (max-width: 1200px) {
      font-size: 26px;
      flex-basis: 50%;
    }

    @media screen and (max-width: 600px) {
      padding-top: 10%;
      padding-left: 0;
    }
  }

  &__phone{
    flex-basis: 25%;
    width: 333px;
    height: 274px;
    margin-top: -70px;
    @media screen and (max-width: 1200px) {
      display: none;
    }
  }

  &__button{
    flex-basis: 30%;
    padding-right: 10%;

    @media screen and (max-width: 1100px) {
      flex-basis: 50%;
    }

    @media screen and (max-width: 600px) {
      padding-right: 0;
    }
  }
}


.header{
  &-wrapper{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__logo{
    flex-basis: 75%;
    &-pic{
      width: 13.5px;
      vertical-align: middle;
      padding-right: 5px;
    }
    &-name{
      width: 52.7px;
      vertical-align: middle;
    }
    @media screen and (max-width: 800px) {
      flex-basis: 65%;
    }
    @media screen and (max-width: 600px) {
      flex-basis: 40%;
    }
  }

  &__lang{
    flex-basis: 10%;
    display: flex;
    justify-content: flex-end;
    &-choice{
      padding-right: 5px;
      font-size: 18px;
      text-transform: capitalize;
      line-height: 22px;
      color: black;
      background-color: #F4F7FF;
      border: none;
      outline: none;
    }

    &-pic{
      vertical-align: middle;
    }

    @media screen and (max-width: 800px) {
      flex-basis: 20%;
    }

    @media screen and (max-width: 600px) {
      flex-basis: 25%;
    }
  }

  &__register{
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    padding-left: 10px;
    &-btn{
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #FFFFFF;
      background-color:#3179FF;
      border: none;
      padding: 10px 30px;

      &:hover{
        background: #0e66da;
      }

      @media screen and (max-width: 600px) {
        font-size: 12px;
        padding: 10px 5px;
      }
    }
    @media screen and (max-width: 800px) {
      flex-basis: 25%;
    }

    @media screen and (max-width: 600px) {
      flex-basis: 35%;
    }
    
  }
}


.intro{

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    // flex-basis: 50%;
  }

  &-wrapper{
    background: url(../img/intro_bg.jpg) no-repeat;
    height: 631px;
    display: flex;
    padding-top: 100px;
    padding-left: 96px;
    padding-bottom: 50px;
  }

  &__content{
    flex-basis: 60%;
  }

  &__title{
    font-weight: 300;
    font-size: 41px;
    line-height: 110%;
    color: #010101;
    span{
      font-weight: 700;
      color: #3179FF;
    }
  }

  &__desc{
    max-width: 445px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    align-items: center;
    color: #010101;
    span{
      font-weight: 700;
    }
  }

}