/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("../fonts/lato-v15-latin-regular.woff2") format("woff2"), url("../fonts/lato-v15-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local("Lato Bold"), local("Lato-Bold"), url("../fonts/lato-v15-latin-700.woff2") format("woff2"), url("../fonts/lato-v15-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local("Lato Black"), local("Lato-Black"), url("../fonts/lato-v15-latin-900.woff2") format("woff2"), url("../fonts/lato-v15-latin-900.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: 'Lato';
  background-color: #F4F7FF;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
  padding: 0 10,4%;
}

.button {
  margin: 4px 4px 4px 4px;
  width: 279px;
  height: 61px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.01em;
  color: white;
  background-color: #3179FF;
  border: 4px solid #CFE0FF;
}

.button:hover {
  background-color: #2b63cc;
}

@media screen and (max-width: 610px) {
  .button {
    width: 180px;
    height: 50px;
    font-size: 16px;
  }
}

.reasons {
  padding-bottom: 67px;
}

@media screen and (max-width: 1200px) {
  .reasons {
    text-align: center;
  }
}

.reasons-wrapper {
  padding: 20px;
  background-color: white;
  border: 0.9px solid #ECF3FF;
  border-radius: 9px;
}

.reasons__title {
  padding: 56px 15px;
  font-weight: 300;
  font-size: 36px;
  text-align: center;
  letter-spacing: -0.01em;
  margin-bottom: 0;
}

.reasons__title-wrapper {
  background-color: #F8FAFF;
  border: 0.9px solid #ECF3FF;
  border-radius: 9px;
  margin-bottom: 20px;
}

.reasons__title span {
  font-weight: 700;
  color: #3179FF;
}

.reasons__text {
  font-size: 20px;
  line-height: 150%;
  margin: 0 auto;
  text-align: center;
  color: #010101;
  margin-bottom: 90px;
  max-width: 850px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .reasons__text {
    max-width: 80%;
    margin-bottom: 50px;
  }
}

.reasons__button {
  margin: 0 auto;
  min-width: 287px !important;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 600px) {
  .reasons__button {
    width: 100% !important;
    min-width: 120px !important;
  }
}

.reasons__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 80px 63px;
}

@media screen and (max-width: 1200px) {
  .reasons__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .reasons__items {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.reasons__item--outer {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-shadow: 0px 2px 8px #F1F6FF;
          box-shadow: 0px 2px 8px #F1F6FF;
  border-radius: 9px;
  margin-right: 30px;
}

.reasons__item--outer:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .reasons__item--outer {
    margin-bottom: 50px;
    margin-right: 0;
    max-width: 400px;
    width: 100%;
  }
  .reasons__item--outer:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .reasons__item--outer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.reasons__item--inner {
  position: relative;
}

.reasons__item_icon {
  position: absolute;
  top: -35px;
  left: 50%;
  margin-left: -50px;
}

.reasons__item_icon-2 {
  margin-left: -40px;
}

.reasons__item_icon-3 {
  margin-left: -75px;
}

.reasons__item_icon-wrapper {
  background: #F8FAFF;
  border: 0.9px solid #ECF3FF;
  border-radius: 9px;
  min-height: 65px;
}

.reasons__item_info {
  min-height: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 30px;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #010101;
}

.reasons__item_info-3 {
  padding: 0 15px;
}

.mobile {
  margin-bottom: 60px;
}

.mobile__content-outer {
  padding: 18px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 8px #F1F6FF;
          box-shadow: 0px 2px 8px #F1F6FF;
  border-radius: 9px;
}

.mobile__content-inner {
  padding-left: 50px;
  padding-right: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: #F8FAFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
}

@media screen and (max-width: 990px) {
  .mobile__content-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 30px 15px 0;
    text-align: center;
  }
}

.mobile__image {
  width: 100%;
}

.mobile__image-wrapper {
  max-width: 600px;
  width: 100%;
}

.mobile__text {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
}

.mobile__text-wrapper {
  padding-bottom: 36px;
  max-width: 270px;
  width: 100%;
}

@media screen and (max-width: 990px) {
  .mobile__text-wrapper {
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .mobile__text-wrapper button {
    margin-top: 30px;
    width: 150px;
  }
}

.mobile__title {
  font-size: 32px;
  margin-bottom: 15px;
}

.mobile__title span {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .mobile__title {
    font-size: 28px;
  }
}

.mobile__info {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 990px) {
  .mobile__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.mobile__info__item {
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  font-weight: 400;
}

.mobile__info__item:first-of-type {
  margin-right: 13px;
}

@media screen and (max-width: 990px) {
  .mobile__info__item:first-of-type {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.mobile__info__item-icon {
  margin-right: 15px;
}

@media screen and (max-width: 600px) {
  .mobile__info__item-text {
    font-size: 12px;
  }
}

.mobile__button {
  max-width: 100% !important;
  width: 100%;
}

.trading {
  padding-bottom: 67px;
}

@media screen and (max-width: 1200px) {
  .trading {
    text-align: center;
  }
}

.trading-wrapper {
  padding: 20px 0px;
}

.trading__separator {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  height: 3px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 990px) {
  .trading__separator {
    display: none;
  }
}

.trading__title {
  padding: 56px 0;
  font-weight: 300;
  font-size: 36px;
  text-align: left;
  line-height: 110%;
  color: #17191C;
  margin-bottom: 0;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.trading__title-wrapper {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trading__title span {
  font-weight: 700;
  color: #3179FF;
}

@media screen and (max-width: 990px) {
  .trading__title {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.trading__text {
  font-size: 20px;
  line-height: 150%;
  margin: 0 auto;
  text-align: center;
  color: #010101;
  margin-bottom: 90px;
  max-width: 850px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .trading__text {
    max-width: 80%;
    margin-bottom: 50px;
  }
}

.trading__button {
  margin: 0 auto;
  min-width: 287px !important;
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 990px) {
  .trading__button {
    width: 100% !important;
    min-width: 120px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.trading__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 63px;
}

@media screen and (max-width: 1200px) {
  .trading__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .trading__items {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.trading__item--outer {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-shadow: 0px 2px 8px #F1F6FF;
          box-shadow: 0px 2px 8px #F1F6FF;
  border-radius: 9px;
  margin-right: 30px;
}

.trading__item--outer:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .trading__item--outer {
    margin-bottom: 50px;
    margin-right: 0;
    max-width: 400px;
    width: 100%;
  }
  .trading__item--outer:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .trading__item--outer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.trading__item--inner {
  position: relative;
}

.trading__item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 20px;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  color: #17191C;
}

.trading__item_icon {
  position: absolute;
  top: -45px;
  left: 55%;
  margin-left: -50px;
}

.trading__item_icon-wrapper {
  background: #F8FAFF;
  border: 0.9px solid #ECF3FF;
  border-radius: 9px;
  min-height: 65px;
}

.trading__item_info {
  min-height: 194px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 20px 15px;
  font-weight: normal;
  font-size: 18px;
  line-height: 130%;
  color: #010101;
}

.autocopy {
  padding-bottom: 67px;
}

@media screen and (max-width: 1200px) {
  .autocopy {
    text-align: center;
  }
}

.autocopy-wrapper {
  padding: 10px 0px;
}

.autocopy__separator {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  height: 3px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 990px) {
  .autocopy__separator {
    display: none;
  }
}

.autocopy__title {
  padding-bottom: 30px;
  font-weight: 300;
  font-size: 36px;
  text-align: left;
  line-height: 110%;
  color: #17191C;
  margin-bottom: 0;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

.autocopy__title-wrapper {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.autocopy__title span {
  font-weight: 700;
  color: #3179FF;
  white-space: nowrap;
}

@media screen and (max-width: 990px) {
  .autocopy__title {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.autocopy__text {
  font-size: 20px;
  line-height: 150%;
  margin: 0 auto;
  text-align: center;
  color: #010101;
  margin-bottom: 90px;
  max-width: 850px;
  font-weight: normal;
}

@media screen and (max-width: 1200px) {
  .autocopy__text {
    max-width: 80%;
    margin-bottom: 50px;
  }
}

.autocopy__button {
  min-width: 287px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.autocopy__button-wrapper {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.autocopy__button-separator {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
  height: 3px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 990px) {
  .autocopy__button-separator {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .autocopy__button {
    margin: 0 auto;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100% !important;
    min-width: 120px !important;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.autocopy__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 63px;
}

@media screen and (max-width: 1200px) {
  .autocopy__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .autocopy__items {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.autocopy__item_button {
  margin-top: 65px;
  margin-bottom: 85px;
  padding: 15px 40px;
  font-weight: 300;
  font-size: 20px;
  line-height: 120%;
  color: white;
  background: #1B7DFF;
  border: 0;
}

.autocopy__item_button:hover {
  background: #0e66da;
}

.autocopy__item_button-ico {
  margin-right: 15px;
}

.autocopy__item_num-wrapper {
  margin-bottom: 18px;
}

.autocopy__item--outer {
  -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
  padding: 19px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-shadow: 0px 2px 8px #F1F6FF;
          box-shadow: 0px 2px 8px #F1F6FF;
  border-radius: 9px;
  min-width: 300px;
  margin-right: 30px;
}

.autocopy__item--outer:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .autocopy__item--outer {
    margin-bottom: 50px;
    margin-right: 0;
    max-width: 400px;
    width: 100%;
  }
  .autocopy__item--outer:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 600px) {
  .autocopy__item--outer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.autocopy__item--inner {
  position: relative;
  background: #F8FAFF;
  border: 0.9px solid #ECF3FF;
  border-radius: 9px;
  min-height: 65px;
  padding-left: 27px;
  padding-top: 38px;
  padding-right: 24px;
}

.autocopy__item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 22px;
  line-height: 110%;
  color: #17191C;
}

.autocopy__item_icon {
  position: absolute;
  top: -50px;
  left: 80%;
  margin-left: -30px;
}

.autocopy__item_icon-2 {
  position: absolute;
  top: -50px;
  left: 85%;
  margin-left: -30px;
}

.autocopy__item_icon-3 {
  position: absolute;
  top: -50px;
  left: 85%;
  margin-left: -30px;
}

.autocopy__item_info {
  min-height: 130px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 140%;
}

.autocopy__item_pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10%;
  margin-top: -20%;
  margin-bottom: -10%;
}

.funding {
  padding-bottom: 67px;
}

@media screen and (max-width: 768px) {
  .funding {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .funding {
    text-align: center;
  }
}

.funding-wrapper {
  padding: 10px 0px;
}

.funding__image {
  border-radius: 9px;
}

.funding__separator {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  height: 3px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 990px) {
  .funding__separator {
    display: none;
  }
}

.funding__title {
  padding: 30px 0;
  font-weight: 300;
  font-size: 36px;
  text-align: left;
  line-height: 110%;
  color: #17191C;
  margin-bottom: 0;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
}

.funding__title-wrapper {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.funding__title span {
  font-weight: 700;
  color: #3179FF;
  white-space: nowrap;
}

@media screen and (max-width: 990px) {
  .funding__title {
    text-align: center;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.statistics {
  padding-bottom: 50px;
}

@media screen and (max-width: 1200px) {
  .statistics {
    text-align: center;
  }
}

.statistics-wrapper {
  padding: 20px 0px;
}

.statistics__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0 63px;
}

@media screen and (max-width: 1200px) {
  .statistics__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .statistics__items {
    padding-right: 20px;
    padding-left: 20px;
  }
}

.statistics__item--outer {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 10px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-shadow: 0px 2px 8px #F1F6FF;
          box-shadow: 0px 2px 8px #F1F6FF;
  border-radius: 9px;
  margin-right: 30px;
}

.statistics__item--outer:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .statistics__item--outer {
    margin-bottom: 50px;
    margin-right: 0;
    max-width: 400px;
    width: 100%;
  }
  .statistics__item--outer:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 990px) {
  .statistics__item--outer {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    max-width: 250px;
    margin-bottom: 10px;
  }
}

.statistics__item--inner {
  background: #F8FAFF;
  border: 0.9px solid #ECF3FF;
  border-radius: 9px;
  padding-left: 35px;
  padding-bottom: 19px;
  padding-top: 14px;
}

.statistics__item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-weight: 800;
  font-size: 54px;
  line-height: 65px;
  color: #3179FF;
}

@media screen and (max-width: 600px) {
  .statistics__item_title {
    font-size: 44px;
  }
}

.statistics__item_icon {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
}

.statistics__item_info {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: left;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

@media screen and (max-width: 600px) {
  .statistics__item_info {
    padding-top: 5px;
    font-size: 14px;
    line-height: 18px;
  }
}

.help {
  margin-bottom: 58px;
}

.help-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 4px;
  width: 100%;
  height: 70px;
  align-items: center;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.01em;
  color: white;
  background-color: #3179FF;
  border: none;
}

.help-btn:hover {
  background: #0e66da;
}

.help__text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  text-align: left;
}

.help__text span {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .help__text {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
}

.help__pic {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  text-align: right;
}

@media screen and (max-width: 768px) {
  .help__pic {
    display: none;
  }
}

.help__arrow {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  height: 100%;
  margin-right: 23px;
  background-color: #1F6BF7;
}

.help__arrow-ico {
  margin-top: 25%;
}

@media screen and (max-width: 768px) {
  .help__arrow {
    display: none;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 36px;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.footer__menu {
  padding-left: 0;
  width: 20%;
  list-style-type: none;
}

@media screen and (max-width: 768px) {
  .footer__menu {
    width: 40%;
    margin-bottom: 24px;
  }
}

.footer__menu-title {
  color: black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 24px;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 36px;
}

.footer__menu-link {
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.footer__menu-link-pic {
  text-decoration: none;
  margin-right: 12.5px;
}

.footer__menu-link:hover {
  opacity: .75;
}

.footer__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-weight: 300;
  font-size: 12px;
  line-height: 150.84%;
  text-align: justify;
}

.footer__desc p {
  margin-bottom: 36px;
}

.footer__desc-title {
  text-transform: uppercase;
  margin-bottom: 36px;
}

.footer__stat {
  color: black;
}

.control {
  margin-bottom: 90px;
}

.control-wrapper {
  background: url(../img/digital_bg.png) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 225px;
  max-width: 1407px;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 600px) {
  .control-wrapper {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
  }
}

.control__text {
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 120%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #FFFFFF;
  padding-left: 10%;
}

.control__text span {
  font-weight: 700;
}

@media screen and (max-width: 1200px) {
  .control__text {
    font-size: 26px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .control__text {
    padding-top: 10%;
    padding-left: 0;
  }
}

.control__phone {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  width: 333px;
  height: 274px;
  margin-top: -70px;
}

@media screen and (max-width: 1200px) {
  .control__phone {
    display: none;
  }
}

.control__button {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding-right: 10%;
}

@media screen and (max-width: 1100px) {
  .control__button {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media screen and (max-width: 600px) {
  .control__button {
    padding-right: 0;
  }
}

.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__logo {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.header__logo-pic {
  width: 13.5px;
  vertical-align: middle;
  padding-right: 5px;
}

.header__logo-name {
  width: 52.7px;
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .header__logo {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
}

@media screen and (max-width: 600px) {
  .header__logo {
    -ms-flex-preferred-size: 40%;
        flex-basis: 40%;
  }
}

.header__lang {
  -ms-flex-preferred-size: 10%;
      flex-basis: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__lang-choice {
  padding-right: 5px;
  font-size: 18px;
  text-transform: capitalize;
  line-height: 22px;
  color: black;
  background-color: #F4F7FF;
  border: none;
  outline: none;
}

.header__lang-pic {
  vertical-align: middle;
}

@media screen and (max-width: 800px) {
  .header__lang {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (max-width: 600px) {
  .header__lang {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.header__register {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-left: 10px;
}

.header__register-btn {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  background-color: #3179FF;
  border: none;
  padding: 10px 30px;
}

.header__register-btn:hover {
  background: #0e66da;
}

@media screen and (max-width: 600px) {
  .header__register-btn {
    font-size: 12px;
    padding: 10px 5px;
  }
}

@media screen and (max-width: 800px) {
  .header__register {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

@media screen and (max-width: 600px) {
  .header__register {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.intro__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.intro__item {
  width: 230px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F8FAFF;
  margin-right: 19px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -0.01em;
  color: #000000;
  margin-bottom: 19px;
}

.intro__item:last-of-type {
  margin-right: 0;
}

.intro__item-pic {
  margin-right: 10px;
}

@media screen and (max-width: 900px) {
  .intro__item {
    margin-bottom: 5px;
  }
}

.intro-wrapper {
  background: url(../img/intro_bg.jpg) no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
  padding-left: 96px;
  padding-bottom: 50px;
}

@media screen and (max-width: 900px) {
  .intro-wrapper {
    padding-top: 40px;
    padding-left: 30px;
  }
}

.intro__content {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

@media screen and (max-width: 600px) {
  .intro__content {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.intro__title {
  font-weight: 300;
  font-size: 41px;
  line-height: 110%;
  color: #010101;
}

.intro__title span {
  font-weight: 700;
  color: #3179FF;
}

@media screen and (max-width: 650px) {
  .intro__title {
    font-size: 36px;
  }
}

.intro__desc {
  max-width: 445px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #010101;
  margin-bottom: 10px;
  padding-top: 10px;
}

.intro__desc span {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .intro__desc {
    font-size: 14px;
  }
}

.intro__button {
  padding-top: 15px;
  margin-bottom: 28px;
}

@media screen and (max-width: 900px) {
  .intro__button {
    padding-top: 10px;
    margin-bottom: 10px;
  }
}

.intro__sign {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__sign-up {
  margin-bottom: 18px;
}

@media screen and (max-width: 600px) {
  .intro__sign-up {
    font-size: 12px;
  }
}

.intro__sign-ico {
  padding-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__sign button {
  width: 146px;
  height: 40px;
  border-radius: 2px;
}

.intro__sign button p {
  margin: 0;
  padding-left: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .intro__sign button {
    width: 120px;
  }
}

.intro__sign-google {
  background: #F8FAFF;
  border: 2px solid #F4F7FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 13px;
}

.intro__sign-google p {
  color: #010101;
}

.intro__sign-facebook {
  background: #2553B4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__sign-facebook p {
  color: white;
}

.slideshow {
  margin-bottom: 50px;
}

.slideshow__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slideshow__slider {
  width: 60%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 2px 8px #F1F6FF;
          box-shadow: 0px 2px 8px #F1F6FF;
  border-radius: 9px;
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
}

@media screen and (max-width: 1000px) {
  .slideshow__slider {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .slideshow__slider {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

.slideshow__docs-1 {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  margin-right: 56px;
  margin-top: 10%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .slideshow__docs-1 {
    display: none;
  }
}

.slideshow__docs-2 {
  -ms-flex-preferred-size: 5%;
      flex-basis: 5%;
  margin-left: 56px;
  margin-top: 60%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media screen and (max-width: 1000px) {
  .slideshow__docs-2 {
    display: none;
  }
}

.slideshow__slide {
  position: relative;
  padding: 15px;
}

.slideshow__slide-pic {
  width: 100%;
  height: 100%;
  max-height: 460px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  z-index: 1;
}

.slideshow__slide-pic-2 {
  width: 100%;
  max-height: 440px;
  margin-bottom: 40px;
}

.slideshow__slide-phone {
  position: absolute;
  left: -10%;
  margin-top: -54%;
  z-index: 3;
  width: 70%;
}

.slideshow__slide-phone-3 {
  position: absolute;
  left: -10%;
  margin-top: -54%;
  z-index: 3;
  width: 70%;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-phone-3 {
    z-index: 1;
  }
}

.slideshow__slide-content-wrapper {
  z-index: 2;
  margin: 0 auto;
  margin-top: -90px;
  position: relative;
  width: 90%;
  height: 478px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  padding-left: 55px;
  padding-top: 100px;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-content-wrapper {
    padding-left: 20px;
    margin-bottom: 0;
  }
}

.slideshow__slide-content-wrapper-2 {
  z-index: 2;
  margin: 0 auto;
  position: relative;
  width: 90%;
  height: 384px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  padding-left: 55px;
  padding-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-content-wrapper-2 {
    padding-top: 10px;
    padding-left: 15px;
    margin-bottom: 0;
  }
}

.slideshow__slide-content-wrapper-3 {
  z-index: 2;
  margin: 0 auto;
  margin-top: -90px;
  position: relative;
  width: 90%;
  height: 478px;
  background: #FFFFFF;
  border: 0.9px solid #ECF3FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 9px;
  padding-left: 55px;
  padding-top: 100px;
  margin-bottom: 40px;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-content-wrapper-3 {
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 0;
  }
}

.slideshow__slide-content-title {
  width: 100%;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.01em;
  color: #010101;
  margin-bottom: 20px;
}

.slideshow__slide-content-title span {
  font-weight: 700;
  color: #3179FF;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-content-title {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.slideshow__slide-content-title-3 {
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 110%;
  letter-spacing: -0.01em;
  color: #010101;
  margin-bottom: 20px;
  padding-right: 5px;
}

.slideshow__slide-content-title-3 span {
  font-weight: 700;
  color: #3179FF;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-content-title-3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
}

.slideshow__slide-content-text-1 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #010101;
  padding-right: 95px;
  width: 80%;
  max-width: 496px;
  margin-bottom: 80px;
}

.slideshow__slide-content-text-1 span {
  font-weight: 700;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-content-text-1 {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.slideshow__slide-content-text-2 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #010101;
  width: 80%;
  max-width: 568px;
  margin-bottom: 20px;
}

.slideshow__slide-content-text-2 span {
  font-weight: 700;
}

.slideshow__slide-content-text-2 span:nth-of-type(3) {
  font-weight: 500;
  color: #3179FF;
}

@media screen and (max-width: 600px) {
  .slideshow__slide-content-text-2 {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

.slideshow__slide-content-text-3 {
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #010101;
  padding-right: 95px;
  width: 80%;
  max-width: 526px;
  margin-bottom: 45px;
}

.slideshow__slide-content-text-3 span {
  color: #3179FF;
}

@media screen and (max-width: 900px) {
  .slideshow__slide-content-text-3 {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.left {
  padding-top: 3%;
  padding-left: 40%;
  margin-right: 5%;
}

@media screen and (max-width: 600px) {
  .left {
    padding-left: 30%;
  }
}
/*# sourceMappingURL=style.css.map */